#primaryNav li {
	width:25%;
}

#primaryNav li ul li {
	width:100% !important;
}


#primaryNav.col li { width:16.6%; }


.sitemap {
	margin: 30px 0 0 0;
	float: left;
	width: 100%;
}

#primaryNav {
	margin: 0;
	float: left;
	width: 100%;
}
#primaryNav #home {
	display: block;
	float: none;
	background: #EEE url('../img/map/L1-left.png') center bottom no-repeat;
	position: relative;
	padding: 0 0 20px 0;
}
#primaryNav li {
	float: left;
	background: url('../img/map/L1-center.png') center top no-repeat;
	padding: 30px 0;
	margin-top: -30px;
}
#primaryNav li a {
	margin: 0 20px 0 0;
	padding: 10px 0;
	display: block;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: black;	
	background: #c3eafb url('../img/map/white-highlight.png') top left repeat-x;
	border: 2px solid #b5d9ea;
	-webkit-border-radius: 15px;
}
#primaryNav li a:hover {
	background-color: #e2f4fd;
	border-color: #97bdcf;
}
#primaryNav li:last-child {
	background: url('../img/map/L1-right.png') center top no-repeat;
}


#primaryNav li li {
	width: 100%;
	clear: left;
	margin-top: 0;
	padding: 10px 0 0 0;
	background: url('../img/map/vertical-line.png') center bottom repeat-y;
}
#primaryNav li li a {
	background-color: #cee3ac;
	border-color: #b8da83;
}
#primaryNav li li a:hover {
	border-color: #94b75f;
	background-color: #e7f1d7;
}
#primaryNav li li:first-child {
	padding-top: 30px;
}
#primaryNav li li:last-child {
	background: url('../img/map/vertical-line.png') center bottom repeat-y;
}

#primaryNav li li ul {
	margin: 10px 0 0 0;
	width: 100%;
	float: right;
	padding: 9px 0 10px 0;
	background: #EEE url('../img/map/L3-ul-top.png') center top no-repeat;
}
#primaryNav li li li {
	background: url('../img/map/L3-center.png') left center no-repeat;
	padding: 5px 0;
}
#primaryNav li li li a {
	background-color: #fff7aa;
	border-color: #e3ca4b;
	font-size: 12px;
	padding: 5px 0;
	width: 80%;
	float: right;
}
#primaryNav li li li a:hover {
	background-color: #fffce5;
	border-color: #d1b62c;
}
#primaryNav li li li:first-child {
	padding: 15px 0 5px 0;
	background: url('../img/map/L3-li-top.png') left center no-repeat;
}
#primaryNav li li li:last-child {
	background: url('../img/map/L3-bottom.png') left center no-repeat;
}



